# Vscode
*.code-workspace

# MacOS
.DS_Store

# Zephyr
!zephyr/module.yml
build
twister-out*/
.west

# Docs
docs/html/*
docs/latex/*

# Testing
.pytest_cache
__pycache__
.vscode*

.cache/
.Trash-1000
compile_commands.json

.claude/*
scripts/*
argos-smd-at-kineis-firmware_spi_dfu.bin
argos-smd-at-kineis-firmware_uart_dfu.bin
build_spi_dfu
