/*
 * Copyright (c) 2025 Arribada Initiative
 * SPDX-License-Identifier: Apache-2.0
 *
 * Devicetree overlay for Argos SMD SPI DFU test on Adafruit Feather nRF52840
 *
 * SPI Wiring (Feather -> Argos SMD module):
 * - SCK  (P0.14) -> SPI_CLK  (STM32 PA1)
 * - MOSI (P0.13) -> SPI_MOSI (STM32 PB5)
 * - MISO (P0.15) -> SPI_MISO (STM32 PB4)
 * - CS   (P0.10) -> SPI_NSS  (STM32 PA15)
 * - IRQ  (P0.26) -> IRQ/READY (optional)
 * - RST  (P0.07) -> RESET (optional)
 *
 * NOTE: P0.10 is NFC2 by default, must disable NFC to use as GPIO
 */

/* Disable NFC to use P0.09/P0.10 as GPIO */
&uicr {
	nfct-pins-as-gpios;
};

&pinctrl {
	spi1_default: spi1_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 14)>,
				<NRF_PSEL(SPIM_MOSI, 0, 13)>,
				<NRF_PSEL(SPIM_MISO, 0, 15)>;
		};
	};

	spi1_sleep: spi1_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 14)>,
				<NRF_PSEL(SPIM_MOSI, 0, 13)>,
				<NRF_PSEL(SPIM_MISO, 0, 15)>;
			low-power-enable;
		};
	};
};

&spi1 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;

	argos_smd: argos-smd@0 {
		compatible = "arribada,argos-smd-spi";
		reg = <0>;
		spi-max-frequency = <100000>;  /* 100 kHz - slow for debugging */
		irq-gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
	};
};

/* Alternative pin mapping for Feather headers:
 *
 * Feather Pin | nRF Pin | Function
 * ------------|---------|----------
 * SCK         | P0.13   | SPI Clock
 * MOSI        | P0.14   | SPI Master Out
 * MISO        | P0.15   | SPI Master In
 * D10         | P0.27   | Chip Select
 * D9          | P0.26   | IRQ/Ready
 * D6          | P0.07   | Reset
 *
 * Analog pins (if needed for other purposes):
 * - A0: P0.04
 * - A1: P0.05
 * - A2: P0.30
 * - A3: P0.28
 * - A4: P0.02
 * - A5: P0.03
 */
